/* You can add global styles to this file, and also import other style files */
/* html { background-image: url('./assets/general/mushrooms.jpg'); } */
/*body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }*/
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");


body {
  margin: 0;
}

app-root {
  display: flex;
  flex-direction: column;
}

router-outlet+* {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-self: center;
  margin: 20px;
  padding: 20px;
  background-color: #7f9f7aed;
  border-radius: 30px;
}

.dx-field-value {
  width: 100% !important;
}

.dx-field-label {
  width: 100% !important;
  font-weight: bold;
  color: #464646;
}

.dx-theme-generic-typography,
.dx-field,
.dx-widget,
.dx-popup-content {
  font-size: 18px;
}

