.rules {
  font-size: 22px;
}

.wrapper {
  display: flex;
  align-items: center;
}
.questions {
  max-width: 600px;
}

.dx-field {
  display: flex;
  flex-direction: column;
}

img {
  width: 400px;
  height: auto;
}

.dx-button {
font-size: 24px;
font-weight: bold;
color: #e3e3e3d8;
background-color: #914604ad;
}

.dx-state-hover {
  color: #e3e3e3;
  background-color: #914604;
}

.prediction {
  display:flex;

  justify-content: start;
  align-items: center;
}

.tips {
  font-size: 24px;
  margin: 0px;
}

.edible {
  color:#005c00
}

.poison {
  color: #790000;
}

.test {
  color:  #8b8b8b41
}

.result-text {
  font-style: italic;
  font-weight: bold;
  font-size: xx-large;

  margin-top: 0px;
  margin-bottom: 0px;
}

.gauge {
  height: 260px;
  overflow-y: hidden;
}

.chance {
  font-style: italic;
  font-size: x-large;
  margin-top: 0;
}
