<p>
  Quiz
</p>
<div class="wrapper">
  <div class="questions">

    <ng-container *ngFor="let option of options" [ngTemplateOutlet]="inputTemplate"
      [ngTemplateOutletContext]="{id: option[0], title: option[1], items: option[2]}">
    </ng-container>

    <div>
      <dx-button stylingMode="contained" text="Calculate poison" type="normal" [width]="200" (onClick)="getResult()">
      </dx-button>
    </div>
  </div>
  <img src="./assets/general/mushroom_anatomy.jpg" alt="">
</div>
<p *ngIf="resultCalculated">Chance of it being edible: {{result}}%</p>


<ng-template #inputTemplate let-id="id" let-title="title" let-items="items">
  <div class="dx-field">
    <div class="dx-field-label">{{title}}</div>
    <div class="dx-field-value">
      <dx-radio-group [id]="id" [items]="items" [value]="items[0]" layout="horizontal"
        (onValueChanged)="changeSelectedValue($event)">
      </dx-radio-group>
    </div>
  </div>
</ng-template>
