.deadly-title {
  text-align: center;
  font-size: 40px;
  margin:0;
  padding:0;
  font-weight: bold;
}

.deadly-subheader {
  text-align: center;
  font-size: 25px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.careful {
  color: #790000;
  font-weight: bold;
}
