<p>
  In general, be careful with mushrooms that:
  -Have a foul odor (strong correlation)
  -Are located near paths (strong correlation)
  -Have a buff-colored (light brownish yellow) gill (extreme correlation)
  -

  Contrary to what you may think, the color of the cap is not a good predictor of whether the mushroom is poisonous
  As you can see in the heat map below, the amount of edible and poisonous mushrooms are almost the same for every type of color
  This means that its unsafe to assume a mushroom is safe to eat based on its color!

  In fact, all attributes concerning the cap, such as its shape and surface, are bad predictors for whether the mushroom is poisonous
  -Shape
  -Surface
</p>
