<p class="home-title">
  Mushroom Poison Predictor
</p>

<p class="home-subtitle">
  Which mushrooms are edible? Which are poisonous?
</p>


<div class="disclaimer" *ngIf="!this.quizStarted">

  <p class="disclaimer">
    Curious which mushrooms are poisonous and which ones aren't?<br>
    Pick the options that best match the mushroom, and see what the AI thinks. <br>
    <br>
    For more information about what allows you to identify a mushroom as poisonous, visit the <a
      [routerLink]="['/information']">Information</a> page.<br>
    For a list of the deadliest mushrooms, visit the <a [routerLink]="['/mostdeadly']">Deadliest Mushrooms</a> page.

    <dx-button class="startQuizButton" (click)="startQuiz()" stylingMode="contained" text="Is it safe to eat?"
      type="normal">Let's get started
    </dx-button>
</div>

<div class="quiz" *ngIf="this.quizStarted">
  <hr />
  <app-quiz></app-quiz>
</div>
